
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

.header {
    width: 100%;
    height: 69px;
    display: flex;
    background-color: black;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
}

.logo {
    height: 50px;
    float: left;
    padding-left: 10px;
    display: flex;
    align-self: center;
}

.navigation {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    opacity: 75%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    display: inline-flex;
}

.navigation a li {
    display: inline-flex;
    vertical-align: middle;
    height: 100%;
    text-decoration: underline;
    color: white;
    float: right;
}

.mission {
    padding-top: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    background: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*15kyzpe*_ga*MjM0MjUwMzM5OC4xNjg4MTM1OTgw*_ga_3LRZM6TM9L*MTY5MDkzODkxNy40LjEuMTY5MDkzODkyMy41NC4wLjA.') center no-repeat;
}

.mission h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.mission h4 {
    margin-bottom: 0;
}

#banner {
    width: 1200px;
    background-color: black;
    padding: 10px 0;
}

.featured-tea {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

h4 {
    margin-top: 20px;
}

figure {
    margin: 0;
}

.featured-tea img {
    height: 200px;
    width: 300px;
    margin: 10px 15px;
}

.fig-container {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.locations {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 500px;
    flex-wrap: wrap;
    background: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*fz3x9o*_ga*MjM0MjUwMzM5OC4xNjg4MTM1OTgw*_ga_3LRZM6TM9L*MTY5MDkzODkxNy40LjEuMTY5MDkzODkyMy41NC4wLjA.') center no-repeat;
    margin-top: 50px;
}

.locations h2 {
    flex: 1 1 100%;
    align-self: center;
    justify-content: center;
    padding-top: 0;
    margin: 15 auto;
}

.downtown, .east-bayside, .oakdale {
    width: 300px;
    height: 300px;
    margin: auto 20px;
    background-color: black;
    line-height: 200%;
    padding: 0 0;
    opacity: 1;
    align-content: space-between;
}

.locations .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.locations h3 {
    margin-top: 1;
}
.locations p {
    display: flex;
    align-content: space-between;
    justify-content: center;
    line-height: 3;
}
.foot-container {

    height: 200px;
}

.foot-container h2{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-top: 0px;
}

.footer h5 {
    display: flex;
    margin-top: 10px;
}
.rights {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}